/* definite */



/* temporary */
body {
    background-color: #29292E;
}

main {
    background-color: #F5F4F0;
    margin: 80px;
    border-radius: 40px;
    padding: 88px 80px;
}

.content-box {
    margin: 88px 80px;
}